/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header Styles */
header {
    background: #2a376c;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
}

header h1 {
    margin: 0;
}

header p {
    margin: 10px 0 0;
}

/* Home Button (Top Right) */
.home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #2a376c;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #777;
}

/* Main Content */
main {
    padding: 170px;
    text-align: center;
}

/* Crime Data Button */
.crime-data-button {
    display: inline-block;
    margin: 20px 0;
    padding: 15px 25px;
    background-color: #1d3a59;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.crime-data-button:hover {
    background-color: #0056b3;
}

/* About Page Content */
.about-content {
    max-width: 800px;
    margin: auto;
    text-align: left;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 10px 0;
    background: #2a376c;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-links {
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #2a376c;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer-links a:hover {
    background-color: #777;
}

.separator {
    color: #fff;
    margin: 0 5px;
}


.crime-data-button:focus,
.home-button:focus,
.footer-links a:focus {
    outline: 3px solid #7e7b99; /* Visible focus indicator */
    outline-offset: 4px;
}
